html {
  font-size: 10px;
  background: url(http://78.media.tumblr.com/3bbd05ea5de7b6b53a1e64936b9c4add/tumblr_o9y3txnKYb1s4zvvyo1_500.jpg) top center;
  background-size: cover;
}
body, html, kbd {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  /*Transition for when we change add class="playing"*/
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
}

.playing {
  transform: scale(1.1);
  border-color: #fff;
  box-shadow: 0 0 1rem #fff;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: lightgrey;
}
